.checkrootmod.mod.cmd
.checkrootmod.mod.o.cmd
.checkrootmod.ko.cmd
.checkrootmod.o.cmd
.modules.order.cmd
.module-common.o
.Module.symvers.cmd
..module-common.o.cmd

checkrootmod.ko
modules.order
checkrootmod.o
Module.symvers
checkrootmod.mod.o

checkrootmod.mod
checkrootmod.mod.c

